@{
    ViewBag.Title = "Página Inicial";
}

<main>
    <section class="row" aria-labelledby="kanbanTitle">
        <h1 id="title">Kanban</h1>
        <p class="lead">Gerencie tarefas, organize equipes e otimize fluxos de trabalho com nosso sistema Kanban.</p>
        <p><a href="~/Home/About" class="btn btn-primary btn-md">Saiba mais &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="cadastroUsuariosTitle">
            <h2 id="cadastroUsuariosTitle">Cadastro de Usuários</h2>
            <p>
                Adicione, edite e gerencie usuários que podem acessar o sistema e colaborar nos fluxos de trabalho.
            </p>
            <p><a class="btn btn-outline-dark" href="/Usuario">Gerenciar Usuários &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="tarefasTitle">
            <h2 id="tarefasTitle">Gestão de Tarefas</h2>
            <p>Crie, organize e acompanhe o progresso de tarefas em diferentes setores e equipes.</p>
            <p><a class="btn btn-outline-dark" href="/Tarefa">Gerenciar Tarefas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="setoresTitle">
            <h2 id="setoresTitle">Gerenciamento de Setores</h2>
            <p>Configure e mantenha os setores da sua organização para uma melhor organização de tarefas.</p>
            <p><a class="btn btn-outline-dark" href="/Area">Gerenciar Setores &raquo;</a></p>
        </section>
    </div>
</main>
